<section class="content">
  <div class="container">
    <div class="list-group list-group-horizontal row">
      <app-product
        *ngFor="let product of products"
        [product]="product"
        class="list-group-item col-xs-12 col-sm-6 col-md-4 col-lg-4"
      ></app-product>
    </div>
    <div class="pagination-container">
      <nav aria-label="Page navigation example">
        <ul class="pagination v">
          <!-- 往前一頁的按鈕 -->
          @if(currentPage !== 1){
          <li class="page-item">
            <a
              class="page-link"
              aria-label="Previous"
              (click)="previousPage(currentPage, pageLimit)"
            >
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          }

          <!-- 當前頁的按鈕，會亮起表示當前頁 -->
          <li class="page-item">
            <a class="page-link active">{{ currentPage }}</a>
          </li>
          @if (currentPage !== totalPages) {

          <li class="page-item">
            <a
              class="page-link"
              (click)="nextPage(totalPages - 1, pageLimit)"
              >{{ totalPages }}</a
            >
          </li>
          }

          <!-- 去最後一頁的按鈕 -->
          @if (currentPage !== totalPages) {
          <li class="page-item">
            <a
              class="page-link"
              aria-label="Next"
              (click)="nextPage(currentPage, pageLimit)"
            >
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
          }
        </ul>
      </nav>
    </div>
  </div>
</section>
