<section class="content">
  <div class="container">
    <p>create-product works!</p>
    <div class="row">
      <div class="col-md-6">
        <!-- 產品圖片 -->
        <img
          :src="product.imageUrl || 'https://picsum.photos/300'"
          class="img-fluid"
          alt="產品圖片"
        />
      </div>
      <div class="edit-pannel col-md-6">
        <div class="col-md-12">
          <!-- 產品名稱 -->
          <div class="input-group input-group-sm mb-3">
            <span class="input-group-text">產品名稱</span>
            <input type="text" class="form-control" aria-label="產品名稱" />
          </div>
          <!-- 產品類別 -->
          <div class="input-group input-group-sm mb-3">
            <span class="input-group-text">產品類別</span>
            <select class="form-select">
              <option disabled value="">請選擇類別</option>
              <option value="FOOD">食品</option>
              <option value="CAR">汽車</option>
              <option value="BOOK">書籍</option>
            </select>
          </div>
          <!-- 產品價格 -->
          <div class="input-group input-group-sm mb-3">
            <span class="input-group-text">產品價格</span>
            <input type="number" class="form-control" aria-label="產品價格" />
          </div>
          <!-- 庫存 -->
          <div class="input-group input-group-sm mb-3">
            <span class="input-group-text">庫存量</span>
            <input type="number" class="form-control" aria-label="庫存量" />
          </div>
          <!-- 描述 -->
          <div class="input-group">
            <span class="input-group-text">產品描述</span>
            <textarea class="form-control" aria-label="產品描述"></textarea>
          </div>
          <div class="d-flex justify-content-end mt-3">
            <button class="btn btn-primary mr-2">新增</button>
            <button class="btn btn-light product-detail-btn">返回</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
